# Nom du workflow qui apparaîtra dans l'interface GitHub
name: Run Tests

# Définit quand le workflow sera déclenché
on:
  # Se déclenche lors d'un push sur la branche main
  push:
    branches: [ main ]
  # Se déclenche lors d'une PR vers la branche main
  pull_request:
    branches: [ main ]

# Liste des jobs à exécuter
jobs:
  # Définition du job
  backend-tests:
    # Utilise la dernière version d'Ubuntu comme environnement d'exécution
    runs-on: ubuntu-latest
    # Configure le répertoire de travail par défaut pour toutes les commandes
    defaults:
      run:
        working-directory: ./back

    # Liste des étapes à exécuter dans ce job
    steps:
      # Récupère le code source du dépôt
      - uses: actions/checkout@v4

      # Configure Java 11 pour l'environnement
      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'     # Utiliser JDK 11 comme dans le projet (note : sonar réclame le 17)
          distribution: 'adopt'
          cache: maven           # Active le cache Maven (survit à la destruction du container)

      # compilation séparée pour plus de lisibilité
      - name: Build project
        run: mvn compile test-compile #note : clean initial ne servirait pas puisque démarre vierge

      # Exécute les tests avec Maven (pas de tests d'intégration dans cette appli donc mvn verify inutile)
      - name: Run tests with Maven
        run: mvn test
        continue-on-error: true  # Continuer même si les tests échouent

      # Génère le rapport de couverture JaCoCo
      - name: Generate JaCoCo Report
        run: mvn jacoco:report
        if: always()  # Exécuter même si l'étape précédente échoue

      # Upload rapport JaCoCo comme artefact => stocké dans infra github (sera utile au job Sonar)
      - name: Upload JaCoCo coverage report
        uses: actions/upload-artifact@v4
        if: always()    # S'exécute même si les étapes précédentes échouent
        with:
          name: jacoco-report    # Nom de l'artefact
          path: back/target/site/jacoco/  # Chemin vers les rapports
          retention-days: 1  # inutile de garder plus d'1 jour

       # Afficher le rapport et faire échouer PR éventuellement si en-dessous d'un seuil
      - name: JaCoCo Code Coverage Report
        id: jacoco_reporter
        uses: PavanMudigonda/jacoco-reporter@v5.0
        if: always()  # Exécuter même si les étapes précédentes échouent
        with:
          coverage_results_path: back/target/site/jacoco/jacoco.xml
          coverage_report_name: backend-coverage
          coverage_report_title: JaCoCo Coverage Report
          github_token: ${{ secrets.GITHUB_TOKEN }}
          skip_check_run: false
          minimum_coverage: 80
          fail_below_threshold: false
          publish_only_summary: false

      - name: Upload backend-classes # partagées avec le job Sonar (classes compilées utiles indépendamment des src)
        uses: actions/upload-artifact@v4
        if: always()  # Exécuter même si les étapes précédentes échouent
        with:
          name: backend-classes
          path: |
            back/target/classes
            back/target/test-classes
          retention-days: 1

      # Publie les résultats des tests JUnit
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        with:
          report_paths: '**/target/surefire-reports/TEST-*.xml'  # Chemin des rapports
          fail_on_failure: false

  frontend-tests:
    runs-on: ubuntu-latest
    # Configure le répertoire de travail par défaut pour les commandes
    defaults:
      run:
        working-directory: ./front

    # Liste des étapes à exécuter dans l'ordre séquentiel
    steps:
      # Récupère le code source du dépôt (checkout)
      - uses: actions/checkout@v4

      # Configure l'environnement Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          # Spécifie la version de Node.js du projet
          node-version: '14'
          # Active le cache pour npm pour accélérer les installations futures
          cache: 'npm'
          # Chemin vers le fichier package-lock.json pour la mise en cache des dépendances
          cache-dependency-path: './front/package-lock.json'

      # Installe les dépendances du projet frontend
      # 'npm ci' est similaire à 'npm install' mais plus strict et adapté aux environnements CI
      - name: Install dependencies
        run: npm ci # fait install et le build

      # Exécute les tests du frontend avec les options spécifiées :
      # --no-watch : ne surveille pas les changements de fichiers (mode CI)
      # --no-progress : désactive la barre de progression
      # --browsers=ChromeHeadless : utilise Chrome en mode headless (sans interface graphique)
      # --code-coverage : génère des rapports de couverture de code
      - name: Run tests
        run: npm test -- --no-watch --no-progress --browsers=ChromeHeadless --code-coverage
        continue-on-error: true  # Continuer même si les tests échouent

      # Upload les rapports de couverture générés comme artefact
      - name: Upload coverage report
        uses: actions/upload-artifact@v4
        if: always()  # Exécuter même si l'étape précédente échoue
        with:
          # Nom de l'artefact qui sera visible dans l'interface GitHub
          name: angular-coverage
          # Chemin vers le dossier contenant les rapports de couverture générés
          path: front/coverage/

  # Analyse SonarCloud avec JDK 17 (version minimale obligatoire)
  sonarcloud-analysis:
    needs: [backend-tests, frontend-tests]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Utile car permet à Sonar d'effectuer des comparaisons (compare PR à branche cible + analyse incrémentale)

      - name: Configuration JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'

      # upload des artefacts générés lors des tests backend
      - name: Téléchargement du rapport JaCoCo
        uses: actions/download-artifact@v4
        with:
          name: jacoco-report
          path: back/target/site/jacoco/

      - name: Téléchargement des classes backend
        uses: actions/download-artifact@v4
        with:
          name: backend-classes
          path: back/target/

      # upload des artefacts générés lors des tests frontend
      - name: Téléchargement du rapport de couverture Angular
        uses: actions/download-artifact@v4
        with:
          name: angular-coverage
          path: front/coverage/

      - name: Analyse SonarCloud
        uses: SonarSource/sonarqube-scan-action@v5.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: https://sonarcloud.io
